<main class="main">
  <section class="home-slider position-relative pt-50">
    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
      {{#each banners}}
        <div class="single-hero-slider single-animation-wrap">
          <div class="container">
            <div class="row align-items-center slider-animated-1">
              <div class="col-lg-5 col-md-6">
                <div class="hero-slider-content-2">
                  <h4 class="animated">{{this.titleSmall}}</h4>
                  <h2 class="animated fw-900">{{this.titleMain}}</h2>
                  <h1 class="animated fw-900 text-brand">{{this.highlight}}</h1>
                  <p class="animated">{{this.description}}</p>
                  <a
                    class="animated btn btn-brush btn-brush-3"
                    href="shop-product-right.html"
                  > Shop Now </a>
                </div>
              </div>
              <div class="col-lg-7 col-md-6">
                <div class="single-slider-img single-slider-img-1">
                  <img
                    class="animated slider-1-1"
                    src="{{this.image}}"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="slider-arrow hero-slider-1-arrow"></div>
  </section>

  <section class="featured section-padding position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/userAssets/imgs/theme/icons/feature-1.png" alt="" />
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/userAssets/imgs/theme/icons/feature-2.png" alt="" />
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/userAssets/imgs/theme/icons/feature-3.png" alt="" />
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/userAssets/imgs/theme/icons/feature-4.png" alt="" />
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/userAssets/imgs/theme/icons/feature-5.png" alt="" />
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/userAssets/imgs/theme/icons/feature-6.png" alt="" />
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="product-tabs section-padding position-relative wow fadeIn animated"
  >
    <div class="bg-square"></div>
    <div class="container">
      <div class="tab-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="nav-tab-one"
              data-bs-toggle="tab"
              data-bs-target="#tab-one"
              type="button"
              role="tab"
              aria-controls="tab-one"
              aria-selected="true"
            >Featured</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="nav-tab-two"
              data-bs-toggle="tab"
              data-bs-target="#tab-two"
              type="button"
              role="tab"
              aria-controls="tab-two"
              aria-selected="false"
            >Men</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="nav-tab-three"
              data-bs-toggle="tab"
              data-bs-target="#tab-three"
              type="button"
              role="tab"
              aria-controls="tab-three"
              aria-selected="false"
            >Women</button>
          </li>
        </ul>
        <a href="#" class="view-more d-none d-md-flex">View More<i
            class="fi-rs-angle-double-small-right"
          ></i></a>
      </div>
      <!--End nav-tabs-->
      <div class="tab-content wow fadeIn animated" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="tab-one"
          role="tabpanel"
          aria-labelledby="tab-one"
        >
          <div class="row product-grid-4">
            {{#each featuredProducts}}
              <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/productDetails?id={{this.productId}}">
                        <img
                          class="default-img"
                          src="{{this.images.[0]}}"
                          alt=""
                        />
                        <img class="hover-img" src="{{this.images.[1]}}" alt="" />
                      </a>
                    </div>
                    <div class="product-action-1">
                      {{! <a
                      aria-label="Quick view"
                      class="action-btn hover-up"
                      data-bs-toggle="modal"
                      data-bs-target="#quickViewModal"
                    ><i class="fi-rs-eye"></i></a> }}
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                      ><i class="fi-rs-heart"></i></a>
                      {{! <a
                      aria-label="Compare"
                      class="action-btn hover-up"
                      href="shop-compare.html"
                    ><i class="fi-rs-shuffle"></i></a> }}
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">{{this.category}}</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">{{this.brand}}</a>
                    </div>
                    <h2><a
                        href="shop-product-right.html"
                      >{{this.productName}}</a></h2>
                    <div>
                      <span>
                        <span>{{this.stockStatus}}</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>{{this.discountPrice}}</span>
                      <span class="old-price">{{this.price}}</span>
                    </div>

                    <div class="product-action-1 show">
                      <form action="/add-to-cart" method="post">
                        <input
                          type="hidden"
                          name="productId"
                          value="{{this.productId}}"
                        />

                        <button
                          type="submit"
                          aria-label="Add To Cart"
                          style="
                all: unset;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f0f0f0;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
              "
                          onmouseover="this.style.backgroundColor='#4caf50'; this.querySelector('i').style.color='#fff';"
                          onmouseout="this.style.backgroundColor='#f0f0f0'; this.querySelector('i').style.color='#333';"
                        >
                          <i
                            class="fi-rs-shopping-bag-add"
                            style="color: #333; font-size: 18px;"
                          ></i>
                        </button>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <!--End product-grid-4-->
        </div>
        <!--En tab one (Featured)-->
        <div
          class="tab-pane fade"
          id="tab-two"
          role="tabpanel"
          aria-labelledby="tab-two"
        >
          <div class="row product-grid-4">
            {{#each latestMen}}
              <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="{{this.images.[0]}}"
                          alt=""
                        />
                        <img class="hover-img" src="{{this.images.[1]}}" alt="" />
                      </a>
                    </div>
                    <div class="product-action-1">
                      {{! <a
                      aria-label="Quick view"
                      class="action-btn hover-up"
                      data-bs-toggle="modal"
                      data-bs-target="#quickViewModal"
                    ><i class="fi-rs-eye"></i></a> }}
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                      ><i class="fi-rs-heart"></i></a>
                      {{! <a
                      aria-label="Compare"
                      class="action-btn hover-up"
                      href="shop-compare.html"
                    ><i class="fi-rs-shuffle"></i></a> }}
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">{{this.category}}</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">{{this.brand}}</a>
                    </div>
                    <h2><a
                        href="shop-product-right.html"
                      >{{this.productName}}</a></h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>{{this.stockStatus}}</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>{{this.discountPrice}}</span>
                      <span class="old-price">{{this.price}}</span>
                    </div>
                    <div class="product-action-1 show">
                      <form action="/add-to-cart" method="post">
                        <input
                          type="hidden"
                          name="productId"
                          value="{{this.productId}}"
                        />

                        <button
                          type="submit"
                          aria-label="Add To Cart"
                          style="
                all: unset;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f0f0f0;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
              "
                          onmouseover="this.style.backgroundColor='#4caf50'; this.querySelector('i').style.color='#fff';"
                          onmouseout="this.style.backgroundColor='#f0f0f0'; this.querySelector('i').style.color='#333';"
                        >
                          <i
                            class="fi-rs-shopping-bag-add"
                            style="color: #333; font-size: 18px;"
                          ></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <!--End product-grid-4-->
        </div>
        <!--En tab two (Popular)-->
        <div
          class="tab-pane fade"
          id="tab-three"
          role="tabpanel"
          aria-labelledby="tab-three"
        >
          <div class="row product-grid-4">
            {{#each latestWomen}}
              <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="{{this.images.[0]}}">
                        <img
                          class="default-img"
                          src="{{this.images.[1]}}"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="/userAssets/imgs/shop/product-2-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      {{! <a
                      aria-label="Quick view"
                      class="action-btn hover-up"
                      data-bs-toggle="modal"
                      data-bs-target="#quickViewModal"
                    ><i class="fi-rs-eye"></i></a> }}
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                      ><i class="fi-rs-heart"></i></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                      ><i class="fi-rs-shuffle"></i></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">{{this.category}}</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">{{this.brand}}</a>
                    </div>
                    <h2><a
                        href="shop-product-right.html"
                      >{{this.productName}}</a></h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>{{this.stockStatus}}</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>{{this.discountPrice}}</span>
                      <span class="old-price">{{this.originalPrice}}</span>
                    </div>
                    <div class="product-action-1 show">
                      <form action="/add-to-cart" method="post">
                        <input
                          type="hidden"
                          name="productId"
                          value="{{this.productId}}"
                        />

                        <button
                          type="submit"
                          aria-label="Add To Cart"
                          style="
                all: unset;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f0f0f0;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
              "
                          onmouseover="this.style.backgroundColor='#4caf50'; this.querySelector('i').style.color='#fff';"
                          onmouseout="this.style.backgroundColor='#f0f0f0'; this.querySelector('i').style.color='#333';"
                        >
                          <i
                            class="fi-rs-shopping-bag-add"
                            style="color: #333; font-size: 18px;"
                          ></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <!--End product-grid-4-->
        </div>
        <!--En tab three (New added)-->
      </div>
      <!--End tab-content-->
    </div>
  </section>
  <section class="banner-2 section-padding pb-0">
    <div class="container">
      <div class="banner-img banner-big wow fadeIn animated f-none">
        <img src="/userAssets/imgs/banner/banner-4.png" alt="" />
        <div class="banner-text d-md-block d-none">
          <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
          <h1 class="fw-600 mb-20">We're an Apple
            <br />Authorised Service Provider</h1>
          <a href="shop-grid-right.html" class="btn">Learn More
            <i class="fi-rs-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>Popular</span> Fragrance</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-arrows"
        ></div>
        <div class="carausel-6-columns" id="carausel-6-columns">
          {{#each fragranceTypes}}
            <div class="card-1">
              <figure class="img-hover-scale overflow-hidden">
                <a href="shop-grid-right.html"><img
                    src="{{this.image}}"
                    alt="{{this.image}}"
                  /></a>
              </figure>
              <h5><a href="shop-grid-right.html">{{this.name}}</a></h5>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  {{! <section class="section-padding">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-2-arrows"
        ></div>
        <div
          class="carausel-6-columns carausel-arrow-center"
          id="carausel-6-columns-2"
        >
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-2-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-2-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="hot">Hot</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$238.85 </span>
                <span class="old-price">$245.8</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-4-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-4-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="new">New</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Aliquam posuere</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$173.85 </span>
                <span class="old-price">$185.8</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-15-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-15-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="sale">Sale</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Sed dapibus orci</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$215.85 </span>
                <span class="old-price">$235.8</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-3-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-3-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="hot">.33%</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Donec congue</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$83.8 </span>
                <span class="old-price">$125.2</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-9-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-9-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="hot">-25%</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Curabitur porta</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$1238.85 </span>
                <span class="old-price">$1245.8</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-7-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-7-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="new">New</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Praesent maximus</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$123 </span>
                <span class="old-price">$156</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="/userAssets/imgs/shop/product-1-1.jpg"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="/userAssets/imgs/shop/product-1-2.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">Vestibulum ante</a></h2>
              <div class="rating-result" title="90%">
                <span>
                </span>
              </div>
              <div class="product-price">
                <span>$238.85 </span>
                <span class="old-price">$245.8</span>
              </div>
            </div>
          </div>
          <!--End product-cart-wrap-2-->
        </div>
      </div>
    </div>
  </section> }}
  <section class="deals section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
            style="background-image: url('/userAssets/imgs/banner/bnr1.jpg');"
          >
            <div class="deal-top">
              <h2 class="text-brand">Deal of the Day</h2>
              <h5>Limited quantities.</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title"><a href="shop-product-right.html">Summer
                  Collection
                </a></h6>
              <div class="product-price"><span
                  class="new-price"
                >$139.00</span><span class="old-price">$160.99</span></div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2025/03/25 00:00:00"
              ></div>
              <a href="shop-grid-right.html" class="btn hover-up">Shop Now
                <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated"
            style="background-image: url('/userAssets/imgs/banner/bnr8.jpg');"
          >
            <div class="deal-top">
              <h2 class="text-brand">Womens Collections</h2>
              <h5>Perfumes</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title"><a href="shop-product-right.html">Try
                  something new on vacation</a></h6>
              <div class="product-price"><span
                  class="new-price"
                >$178.00</span><span class="old-price">$256.99</span></div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2026/03/25 00:00:00"
              ></div>
              <a href="shop-grid-right.html" class="btn hover-up">Shop Now
                <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span>
        Brands</h3>
      <div
        class="carausel-6-columns-cover position-relative wow fadeIn animated"
      >
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-3-arrows"
        ></div>
        <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
          {{#each brands}}
            <div class="brand-logo">
              <img class="img-grey-hover" src="{{this.image}}" alt="" />
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <section class="bg-grey-9 section-padding">
    <div class="container pt-25 pb-25">

      <!-- Section Heading -->
      <div class="heading-tab d-flex mb-30">
        <div class="heading-tab-left wow fadeIn animated">
          <h3 class="section-title">
            <span>New</span>
            Arrivals
          </h3>
        </div>
      </div>

      <div class="row">

        <!-- Left Banner -->
        <div class="col-lg-3 d-none d-lg-flex">
          <div class="banner-img style-2 wow fadeIn animated">
            <img src="/userAssets/imgs/slider/bnr7.jpg" alt="Perfume Banner" />
            <div class="banner-text">
              <span>Exclusive Scents</span>
              <h4 class="mt-5">
                Save up to 20%
                <br />
                on New Perfumes
              </h4>
              <a href="/shop" class="text-white">
                Shop Now
                <i class="fi-rs-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Products -->
        <div class="col-lg-9 col-md-12">
          <div
            class="carausel-4-columns-cover arrow-center position-relative wow fadeIn animated"
          >

            <div
              class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
              id="new-arrivals-arrows"
            ></div>

            <div
              class="carausel-4-columns carausel-arrow-center"
              id="new-arrivals-carousel"
            >

              <!-- Product Item -->
              {{#each newArrivals}}
                <div class="product-cart-wrap">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/product">
                        <img
                          class="default-img"
                          src="{{this.images.[0]}}"
                          alt="Perfume"
                        />
                        <img
                          class="hover-img"
                          src="{{this.images.[1]}}"
                          alt="Perfume Hover"
                        />
                      </a>
                    </div>

                    <div class="product-action-1">
                      <a
                        class="action-btn small hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-eye"></i>
                      </a>
                      <a class="action-btn small hover-up" href="/wishlist">
                        <i class="fi-rs-heart"></i>
                      </a>
                      <a class="action-btn small hover-up" href="/compare">
                        <i class="fi-rs-shuffle"></i>
                      </a>
                    </div>

                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="new">{{this.category}}</span>
                    </div>
                  </div>

                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="/shop">{{this.brand}}</a>
                    </div>

                    <h2>
                      <a href="/product">{{this.productName}}</a>
                    </h2>

                    <div class="rating-result" title="90%">
                      <span><span>90%</span></span>
                    </div>

                    <div class="product-price">
                      <span>{{this.discountPrice}}</span>
                      <span class="old-price">{{this.price}}</span>
                    </div>

                    <div class="product-action-1 show">
                      <a class="action-btn hover-up" href="/cart">
                        <i class="fi-rs-shopping-bag-add"></i>
                      </a>
                    </div>
                  </div>
                </div>
              {{/each}}
              <!-- Duplicate product-cart-wrap for more perfumes -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>